.color-box {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  margin-right: 12px;
  border: 1px solid #ccc;
}

.ion-card {
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.ion-text-end ion-button {
  margin-left: 8px;
}

.color-box {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  margin-right: 12px;
  border: 1px solid #ccc;
}